---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Code Hosting
  gitea:
    image: gitea/gitea:1.8
    networks:
      - traefik_network
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - DB_PASSWD={{ lookup('password', './settings/passwords/gitea_db_password chars=digits') }}
      - SSH_DOMAIN=gitea.{{ domain }}
      - SSH_PORT=222
    restart: unless-stopped
    links:
      - gitea_db:db
    volumes:
      - /var/homelabos/gitea:/data
    ports:
      - "222:22"
    depends_on:
      - gitea_db
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:gitea.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:gitea.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}

  gitea_db:
    image: mariadb
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=gitea
      - MYSQL_USER=gitea
      - MYSQL_DATABASE=gitea
      - MYSQL_PASSWORD={{ lookup('password', './settings/passwords/gitea_db_password chars=digits') }}
    volumes:
      - /var/homelabos/gitea_db:/var/lib/mysql
